.update-form {
  width: 450px;
  margin: 40px auto;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  input,
  select,
  textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;

    &:focus {
      border-color: orange;
    }
  }

  textarea {
    min-height: 120px;
    resize: vertical;
  }

  .update-btn {
    padding: 12px;
    background: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #0056b3;
    }
  }

  .err {
    color: red;
    font-size: 14px;
    margin-top: -10px;
  }
}
