@mixin skeleton-style {
  background-color: #e2e2e2;
  border-radius: 5px;
}
.skeleton-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9vw;
  animation: pulse 1.5s infinite;
}
.header-skeleton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3vw 0;
  .h1 {
    width: 40%;
    height: 50px;
    @include skeleton-style();
  }
  .input,
  .button {
    width: 15%;
    height: 50px;
    @include skeleton-style();
  }
}
