* {
  margin: 0;
}
@mixin btn-style {
  width: 50%;
  padding: 1vw;
  background-color: white;
  border: 2px solid rgb(177, 177, 177);
  border-radius: 8px;
  cursor: pointer;
  .btn{
    text-decoration: none;
    color: black;
  }
  span{
    font-size: 1.2vw;
  }
}

.product-card {
  width: 20%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  background-color: white;
  border: 2px solid rgb(177, 177, 177);
  border-radius: 8px;
  .card-delete-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    img {
      width: 8vw;
      height: 8vw;
      object-fit: contain;
    }
    h2 {
      font-size: 2vw;
    }
    p {
      font-size: 1.5vw;
    }
  }
  .card-btns {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    button {
        @include btn-style();
    }
  }
}
