.add-product-container{
  width: 450px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  h2{
    text-align: center;
    margin-bottom: 20px;
  }
}

.add-form{
  display: flex;
  flex-direction: column;
  gap: 15px;

  input,
  textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;

   &:focus{
        border-color: #007bff;
        box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
      }
  }

  textarea{
    min-height: 120px;
    resize: vertical;
  }

  .add-btn{
    padding: 12px;
    background: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      background: darkblue;
    }
  }

  .err{
    color: red;
    font-size: 14px;
    margin-top: -10px;
  }
}
